*{margin: 0;padding: 0;}

body{
    font-family: 'Poppins','Yeseva One';
}
.container{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    padding: 80px; 
}

/* hero area start */
.left-hero{
    width: 50%;
}
.left-hero h2{
    font-family: "yeseva One";
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 25px;
    border-left: aqua 5px solid;
    padding-left: 18px;
}
.left-hero h2 span{
    color: aqua;
}
.left-hero p{
    text-transform: capitalize;
    font-size: 18px;
    color: #222;
    line-height: 28px;
    margin-bottom: 20px;
}
.left-hero .button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: aqua;
    padding: 15px 60px;
    margin-bottom: 40px;
}
.right-hero{
    width: 50%;
}
.right-hero img{
    width: 70%;
    padding: 40px;
}
/* hero area end */

 /* my mission area start */
.my-mission-area h1{
    text-align: center;
    font-size: 50px;
}
.my-mission-area h1 span{
    color:aqua;
    font-weight: 700;
}
.mission{
    text-transform: capitalize;
    background: #DEF4F6;
    border-radius: 30px;
    padding: 40px 30px;
    margin-right: 30px;
}
.mission-2 {
    background: #FFEEEE;
}.mission-3 {
    background: #FFF4D6EE;
}
.mission img{
    width: 140px;
    height: 140px;
}
.mission h2 {
    font-size: 26px;
    font-weight: 700px;
    margin: 20px 0;
}
.mission p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
}
 /* my mission area end */

 /* develop area start */
 .develop-left img{
     width: 400px;
     height: 400px;
 }
 .develop-right{
     padding: 40px;
 }
 .develop-right h2{
     font-family: "Poppins";
     font-size: 38px;
     font-weight: 700;
     line-height: 50px;
     color: #333;
     margin-bottom: 30px;
 }
 .develop-right a{
        display: inline-block;
         text-decoration: none;
         color: #fff;
         font-size: 18px;
         font-weight: 700;
         background: aqua;
         padding: 15px 60px;
         margin-top: 40px;
 }
/* develop area start */

 /* counter area start */
 .counter-area{
     padding: 0px 0;
     background: aqua;
     text-align: center;
     font-family: "yeseva One";
 }
 .count h4{
     color:#fff;
     font-size: 70px;
     font-weight: 700;
 }
 .count{
     padding: 30px;
 }
 .counter{
     display: flex;
     justify-content: space-evenly;
 }
 .count p{
     color: #fff;
     font-size: 22px;
     text-transform: uppercase;
 }
 /* counter area end */

 /* team area start */
.team-area{
    padding-top:80px;

}
.team-area h2{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
}
.team-area span{
    color: aqua;
}
 .single-team{
     margin: 0 8px;
     text-align: center;
     text-transform: uppercase;
 }
 .single-team img{
     border-radius: 30px;
     margin-bottom: 20px;
 }
 .single-team h3{
     font-size: 25px;
     color: #222;
     letter-spacing: 3px;
 }
 /* team area end */

 /* footer area start */
.footer-area{
    text-align: center;
    background: #333;
    padding: 70px 0;
}
.footer-area h2{
    font-size: 40px;
    color: #fff;
}
.footer-area h2 span{
    font-size: 40px;
    color: aqua;
}
.footer-area p{
    color: #FFEEEE;
}
 /* footer area end */
